<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="form">
      <%= form_with url: recipes_path, method: :get, class: "form-control form-input d-flex" do %>
        <button type="submit" class="btn btn-default">
          <i class="fa fa-search"></i>
        </button>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-bar",
          placeholder: "Rechercher une recette..."
          %>
      <% end %>
      </div>
    </div>
  </div>


  <div class="mt-3 mb-3 d-flex justify-content-center">
    <div class="row" style="width: 100%; overflow-x: auto; white-space: nowrap;">
      <div class="filter-list col-auto">
        <% ["Type de plat", "Entrée", "Plat", "Dessert", "Boisson", "Snack", "Apéritifs", "Brunch"].each do |meal| %>
          <%= button_tag meal, type: 'button', class: "meal-button", data: { meal: meal } %>
        <% end %>
      </div>
    </div>
  </div>



  <div>
      <% @recipes.each do |recipe| %>
          <a href="<%= recipe_path(recipe) %>" class="card row mx-0">
            <div class="card-image col-4">
              <% if recipe.photo.attached? %>
                <%= image_tag recipe.photo, alt: recipe.title %>
              <% else %>
                <%= image_tag 'default_image4.jpg', class: "background-image" %>
              <% end %>
            </div>
            <div class="card-content col-8">
              <h3><%= recipe.title %></h3>
            </div>
          </a>
      <% end %>
  </div>

</div>


  <script>
    $(document).ready(function() {
      $('.meal-button').click(function() {
        var meal = $(this).data('meal');
        window.location.href = '<%= recipes_path %>?meal=' + meal;
      });
    });
  </script>
