<div class="container">

<div class="row">
  <div class="col-md-6">
    <div class="form">
    <%= form_with url: recipes_path, method: :get, class: "form-control form-input d-flex" do %>
      <button type="submit" class="btn btn-default">
        <i class="fa fa-search"></i>
      </button>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Rechercher une recette..."
        %>
    <% end %>
    </div>
  </div>
</div>

<div class="row mt-1">
  <div class="col-md-6">
    <%= form_with url: recipes_path, method: :get, class: "d-flex align-items-center" do %>
      <%= select_tag :meal, options_for_select(["--choisir--", "Entrée", "Plat", "Dessert", "Boisson", "Snack", "Apéritifs", "Brunch"], selected: params[:meal]), class: "form-control search-display" %>
      <%= submit_tag "Filtrer", name: "", class: "btn btn-default filter-display" %>
    <% end %>
  </div>
</div>


  <div>
      <% @recipes.each do |recipe| %>
          <a href="<%= recipe_path(recipe) %>" class="card row mx-0">
            <div class="card-image col-4">
              <% if recipe.photo.attached? %>
                <%= image_tag recipe.photo, alt: recipe.title %>
              <% end %>
            </div>
            <div class="card-content col-4">
              <h3><%= recipe.title %></h3>
            </div>
            <div class="card-arrow col-4">
              <i class="bi bi-arrow-right-square-fill"></i>
            </div>
          </a>
      <% end %>
  </div>

</div>
