<div class="container form-background-grey py-4">
  <div class="row justify-content-center blue-grey-background-form">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="form-frame p-4 mx-4">
        <h3 class="my-4 text-center"><strong>Importer une recette </strong></h3>
          <%= simple_form_for(@recipe) do |f| %>
            <div class="mb-2 d-flex justify content-end"><%= f.input :picture, as: :file, label: false, input_html: { style: 'display: none;', id: 'icon-upload' } %>
             <label for="icon-upload" class="icon-custom-button">
              <i class="fa-solid fa-image"></i>
                <span>Choisir un fichier</span>
                  </label>
                    </div>
                      <div class="mb-2 flex-shrink-2"><%= f.input :title, label: false, placeholder: "Nom de la recette" %></div>
                      <div class="mb-2"><%= f.input :ingredient, label: false, placeholder: "Ingrédients" %></div>
                    <div class="mb-2"><%= f.input :instruction, label: false, placeholder: "Préparation" %></div>
                  <div class="mb-2" ><%= f.input :meal, label:false, collection: ["Entrée", "Plat", "Dessert", "Boisson", "Snack", "Apéritifs", "Brunch"] %></div>
              <div class="text-center"><%= f.button :submit, "Importer", class: "btn btn-primary rounded-5 mb-4 mt-4 form-button" %></div>
              <% end %>
          </div>
        <div class="text-center mt-3 mb-4">
      </div>
    </div>
  </div>
</div>
