<body id="show-page">

<div class="container-show">
  <% if @recipe.photo.attached? %>
    <%= cl_image_tag @recipe.photo.key, class: "background-image" %>
  <% else %>
    <%= image_tag 'default_image4.jpg', class: "background-image" %>
    <% end %>

  <div class="top-bar row justify-content-between align-items-center">

    <div class="col-2">
        <%= link_to recipes_path, class: "delete-button" do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
    </div>

    <div class="col-8 text-center">
        <h2 class="recipe-title-show"><%= @recipe.title %></h2>
    </div>

    <div class="col-2 icon-container text-right">
      <%= link_to edit_recipe_path(@recipe), class: "delete-button" do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
      <%= link_to recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: "Vous êtes sûr chef ? 👩‍🍳" }, class: "delete-button" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>

  <div class="absolute-show">
    <div class="transparent-div"></div>
    <div class="content-div">

      <div class="container-top-content row justify-content-between align-items-center">
        <div class="col-3">
        </div>

        <div class="handle-bar col-6 text-center">
          <i class="fa-solid fa-grip-lines"></i>
        </div>

        <div class="meal-label col-3 text-center">
          <%= @recipe.meal %>
        </div>
      </div>

      <h3>Ingrédients : </h3>
      <p><%= simple_format(@recipe.ingredient) %></p>
      <h3>Instructions : </h3>
      <p><%= simple_format(@recipe.instruction) %></p>

    </div>
  </div>
</div>
</body>
