<div class="recipe-show-container">
  <% if @recipe.photo.attached? %>
    <div class="recipe-photo">
      <%= cl_image_tag @recipe.photo.key, class: "background-image" %>
      <div class="overlay"></div>
    </div>
  <% end %>

  <div class="top-bar">
     <%= link_to "←", recipes_path, class: "back-arrow" %>
    <h1 class="recipe-title"><%= @recipe.title %></h1>
    <%= link_to "✎", edit_recipe_path(@recipe), class: "edit-button" %>
  </div>

  <div class="recipe-content">
    <div class="texte-recette">
      <h2>Ingrédients</h2>
      <p><%= @recipe.ingredient %></p>
      <h2>Instructions</h2>
      <p><%= @recipe.instruction %></p>
    </div>
  </div>
</div>
