<div class="wrapper">
  <div class="navbar">
    <%= link_to recipes_path do %>
      <i class="fas fa-home icon-home"></i>
    <% end %>
    <%= link_to ebooks_path do %>
      <i class="fa-solid fa-book icon-book"></i>
    <% end %>

    <div class="circle">
      <i class="fas fa-plus plus-icon"></i>
      <i class="fa-sharp fa-solid fa-pen social mt-2" data-link="/recipes/new"></i>
      <i class="fa-solid fa-link social mt-2" data-link="/recipes"></i>
      <i class="fa-solid fa-camera social mt-2" data-link="/recipes"></i>
    </div>
    <div class="circleBackground"></div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 20px; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 0.7rem; margin-top: -30px;">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title mx-auto" id="uploadModalCenterTitle">
            <span style="font-size: 1.2em; font-weight: bold; color: #89AAC9;">Cocotte minute</span><br>
            Création de recette intelligente
          </h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for Recipe.new, url: new_recipe_path, method: "GET" do |f| %>
          <%= f.input :link_url, label: "Entrez le lien de votre recette ci-dessous et Cocotte s'occupera de tout.", input_html: { placeholder: "https://..." } %>
          <div class="d-flex justify-content-end mt-3">
            <%= f.button :submit, "À table !", class: "btn", style: "background-color: #89AAC9; border: none; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="uploadModalCenter" tabindex="-1" role="dialog" aria-labelledby="uploadModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 20px; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 0.7rem; margin-top: -30px;">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="uploadModalCenterTitle">
          <span style="font-size: 1.2em; font-weight: bold; color: #89AAC9;">Cocotte magique</span><br>
          Transcription de recette manuscrite
        </h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for Recipe.new, url: transcribe_image_path, method: 'POST', html: { class: 'form-horizontal', multipart: true } do |f| %>
          <div class="form-group row">
            <div class="col-12 mb-3">
              <p style="margin-bottom: 20px;">Importez la photo d'une recette et Cocotte s'occupera du reste.</p>
              <%= f.input :photo, as: :file, input_html: { class: 'form-control-file' }, label: false %>
            </div>
            <div class="col-12 text-center">
              <%= f.button :submit, "En cuisine !", class: "btn", style: "background-color: #89AAC9; border: none; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease;" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>









<script>
  var icons = document.querySelectorAll(".circle i");

  icons.forEach(function(icon) {
    icon.addEventListener("click", function() {
      var link = this.getAttribute("data-link");
      if (this.classList.contains("fa-link")) {
        // Open the modal using Bootstrap's modal function
        $('#exampleModalCenter').modal('show');
      } else if (this.classList.contains("fa-camera")) {
        // Open the upload modal using Bootstrap's modal function
        $('#uploadModalCenter').modal('show');
      } else {
        // Redirect to the link
        window.location.href = link;
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function() {
    // Use Bootstrap's modal function to close the modals
    var closeBtns = document.querySelectorAll(".modal .close");
    closeBtns.forEach(function(closeBtn) {
      closeBtn.addEventListener("click", function() {
        var modal = closeBtn.closest(".modal");
        $(modal).modal('hide');
      });
    });

    // Close the modals when clicking outside of them using Bootstrap's event
    $('.modal').on('hidden.bs.modal', function (e) {
      $(this).modal('hide');
    });

    window.addEventListener("click", function(event) {
      var modals = document.querySelectorAll(".modal");
      modals.forEach(function(modal) {
        if (event.target == modal) {
          $(modal).modal('hide');
        }
      });
    });
  });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
