<div class="wrapper">
  <div class="navbar">
    <%= link_to recipes_path do %>
      <i class="fas fa-home icon-home"></i>
    <% end %>
    <%= link_to ebooks_path do %>
      <i class="fa-solid fa-book icon-book"></i>
    <% end %>

    <div class="circle">
      <i class="fas fa-plus plus-icon"></i>
      <i class="fa-sharp fa-solid fa-pen social mt-2" data-link="/recipes/new"></i>
      <i class="fa-solid fa-link social mt-2" data-link="/recipes"></i>
      <i class="fa-solid fa-camera social mt-2" data-link="/recipes"></i>
    </div>
    <div class="circleBackground"></div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title mx-3" id="exampleModalLongTitle">Créez votre recette intelligente</h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for Recipe.new, url: new_recipe_path, method: "GET" do |f| %>
          <%= f.input :link_url, label: "Lien de votre recette:" %>
          <div class="d-flex justify-content-end mt-3">
            <%= f.button :submit, "Créer avec l'IA", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  var icons = document.querySelectorAll(".circle i");

  icons.forEach(function(icon) {
  icon.addEventListener("click", function() {
    var link = this.getAttribute("data-link");
    if (this.classList.contains("fa-link")) {
      // Open the modal using Bootstrap's modal function
      $('#exampleModalCenter').modal('show');
    } else {
      // Redirect to the link
      window.location.href = link;
    }
  });
});

  document.addEventListener("DOMContentLoaded", function() {

    // Use Bootstrap's modal function to close the modal
    var closeBtn = document.querySelector("#exampleModalCenter .close");
    closeBtn.addEventListener("click", function() {
      $('#exampleModalCenter').modal('hide');
    });

    // Close the modal when clicking outside of it using Bootstrap's event
    $('#exampleModalCenter').on('hidden.bs.modal', function (e) {
      $(this).modal('hide');
    });

    window.addEventListener("click", function(event) {
      var modal = document.getElementById("exampleModalCenter");
      if (event.target == modal) {
        $('#exampleModalCenter').modal('hide');
      }
    });
  });
</script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
