<body class="unique-page-class">
  <div class="stats-card mt-2">
    <div class="stats-item">
      <p class="stats-number"><%= @recipes_count %></p>
      <p class="stats-label">recettes répertoriées</p>
    </div>
    <div class="stats-item">
      <p class="stats-number"><%= @ebooks_count %></p>
      <p class="stats-label">Ebook générés</p>
    </div>
    <div class="stats-item">
      <p class="stats-number"><%= @printed_books_count %></p>
      <p class="stats-label">Livres imprimés</p>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-center">
    <%= link_to "Créer un E-Book ", new_ebook_path, class: "btn btn-ghost bg-white border-0 button-padding-top" %>
  </div>
  <div>
    <h3 class="mb-3 mt-3 ms-3 text-white">Mes E-Books</h3>
  </div>
  <% @ebooks.each do |ebook| %>
    <% if ebook.theme == 'style 1' %>
      <%= link_to ebook_path(ebook), class: "stats-big-card-link" do %>
        <div class="stats-big-card mt-3">
          <div class="image-container-card">
            <%= image_tag('background-bleu-fonce.jpg', alt: 'background-image') %>
          </div>
          <div class="text-container mt-2">
            <h2><%= ebook.ebook_title %></h2>
            <div class="info mb-4">
              <span><%= ebook.dishes_count %> plats</span>
              <span><%= ebook.starters_count %> entrées</span>
              <span><%= ebook.desserts_count %> desserts</span>
            </div>
          </div>
        </div>
      <% end %> <!-- Fin du link_to pour le thème 'style 1' -->
    <% elsif ebook.theme == 'style 2' %>
      <%= link_to ebook_path(ebook), class: "stats-big-card-link" do %>
        <div class="stats-big-card mt-3">
          <div class="image-container-card">
            <%= image_tag('default_image4.jpg', alt: 'background-image') %>
          </div>
          <div class="text-container mt-2">
            <h2><%= ebook.ebook_title %></h2>
            <div class="info mb-4">
              <span><%= ebook.dishes_count %> plats</span>
              <span><%= ebook.starters_count %> entrées</span>
              <span><%= ebook.desserts_count %> desserts</span>
            </div>
          </div>
        </div>
      <% end %> <!-- Fin du link_to pour le thème 'style 2' -->
    <% end %>
  <% end %>
</body>
