<div class="container ebook-display">

  <div class="row d-flex justify-content-center align-items-center">
    <div class="arrow-button col-4 position-absolute">
      <%= link_to ebooks_path, class: "arrow-button" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="ebook-title col-8 text-center position-relative">
      <p> <%= @ebook.ebook_title %> </p>
    </div>
  </div>

  <div class="ebook-counter">
    <div class="info d-flex justify-content-center">
          <div class="div mx-1"> <span><%= @ebook.dishes_count %> plats - </span></div>
          <div class="div"><span><%= @ebook.starters_count %> entrées - </span></div>
          <div class="div mx-1"><span><%= @ebook.desserts_count %> desserts</span></div>
    </div>
  </div>

  <div class="div previsualisation">
  </div>

  <div class="modify-button d-flex justify-content-center" >
    <%= link_to edit_ebook_path, class: "gear-button" do %>
      <i class="fa-solid fa-gears"></i>
    <% end %>
  </div>


  <div class="row justify-content-center">
    <a href="..." class="download-ebook btn col-10">Télécharger mon Ebook</a>
  </div>

</div>
