
<div class="container ebook-display">
  <div class="row d-flex justify-content-center align-items-center pt-3">
    <div class="arrow-button col-4 position-absolute">
      <%= link_to ebooks_path, class: "arrow-button" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="ebook-title col-8 text-center position-relative">
      <p> <%= @ebook.ebook_title %> </p>
    </div>
  </div>

  <div class="ebook-counter">
    <div class="info d-flex justify-content-center">
          <div class="div mx-1"> <span><%= @ebook.dishes_count %> plats - </span></div>
          <div class="div"><span><%= @ebook.starters_count %> entrées - </span></div>
          <div class="div mx-1"><span><%= @ebook.desserts_count %> desserts</span></div>
    </div>
  </div>

  <div class="gear-position">
    <div class="modify-button d-flex justify-content-flex-end" >
      <%= link_to edit_ebook_path, class: "gear-button rotating" do %>
        <i class="fa-solid fa-gear"style="width: 65px; height: 100px; line-height: 100px; text-align: center;"></i>
      <% end %>
    </div>
</div>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <defs>
      <symbol id="arrow" viewBox="0 0 100 100">
        <path d="M12.5 45.83h64.58v8.33H12.5z"/>
          <path d="M59.17 77.92l-5.84-5.84L75.43 50l-22.1-22.08 5.84-5.84L87.07 50z"/>
      </symbol>
    </defs>
  </svg>


  <div class="div previsualisation">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide">
      <div class="carousel-inner">
      <% @ebook.recipages.each do |recipage| %>
        <div class="carousel-item active">
        <%# recipage templating %>
         <%# <%= image_tag 'Page0-ebook1.jpg', class: "d-block w-100"%>
         <% if recipage.photo.attached? && recipage.photo.key.present? %>
          <%= cl_image_tag recipage.photo.key, height: 550, width: 400, crop: :fit %>
         <% else %>
          <%= image_tag 'place-holder.jpg', height: 550, width: 400, crop: :fit %>
         <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%=recipage.recipe.title%></h5>
          </div>
        </div>
      <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

<%#
    <!-- Livre virtuel avec pages -->
    <%= image_tag 'Page0-ebook1.jpg', class: "background-image" %>
  </div>




<div id="downloadModal" class="modal fade" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Votre Ebook a bien été généré, retrouvez-le dans vos téléchargements !</p>
      </div>
    </div>
  </div>
</div>

  <div class="row justify-content-center align-items-flex-end;">
    <%= link_to "#", class: "download-ebook btn col-8", data: { toggle: "modal", target: "#downloadModal" } do %>
      Téléchargez votre Ebook
    <% end %>
  </div>


</div>
