<div class="container ebook-display">
  <div class="row d-flex justify-content-center align-items-center pt-3">
    <div class="arrow-button col-4 position-absolute">
      <%= link_to ebooks_path, class: "arrow-button" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="ebook-title col-8 text-center position-relative">
      <p> <%= @ebook.ebook_title %> </p>
    </div>
  </div>

  <div class="ebook-counter">
    <div class="info d-flex justify-content-center">
          <div class="div mx-1"> <span><%= @ebook.dishes_count %> plats - </span></div>
          <div class="div"><span><%= @ebook.starters_count %> entrées - </span></div>
          <div class="div mx-1"><span><%= @ebook.desserts_count %> desserts</span></div>
    </div>
  </div>

  <div class="div previsualisation">
  </div>

  <div class="modify-button d-flex justify-content-center" >
    <%= link_to edit_ebook_path, class: "gear-button rotating" do %>
      <i class="fa-solid fa-gear"style="width: 100px; height: 100px; line-height: 100px; text-align: center;"></i>
    <% end %>
  </div>


  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <defs>
      <symbol id="arrow" viewBox="0 0 100 100">
        <path d="M12.5 45.83h64.58v8.33H12.5z"/>
          <path d="M59.17 77.92l-5.84-5.84L75.43 50l-22.1-22.08 5.84-5.84L87.07 50z"/>
      </symbol>
    </defs>
  </svg>


  <div class="row justify-content-center">
    <a href="..." class="download-ebook btn col-8">Télécharger mon Ebook</a>
  </div>


</div>
