<!DOCTYPE html>
<html>
  <head>
    <title>CocotteProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <% unless controller_name == 'ebooks' && action_name == 'show' %>
          <%= render "shared/navbar" %>

    <div class="layout-wrapper2">
        <%= yield %>
        </div>
  </body>
</html>
